<div class="row">
  <div class="col-xl-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="btn-group" appDropDown>

      <button class="btn btn-primary dropdown-toggle">Manage recipe<span class="caret"></span> </button>
      <ul class="dropdown-menu" role="menu">
      <!--<ul class="dropdown-menu">-->
        <li><a href="#">Add Into Shopping list</a> </li>
        <li><a href="#">Edit</a> </li>
        <li><a href="#">Delete</a> </li>


      </ul>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-xl-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <h5>Ingredients</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor = "let ingredient of recipe.ingredient">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
